name: gigya_flutter_plugin_example
description: Demonstrates how to use the gigya_flutter_plugin plugin.
version: 1.0.12
homepage: https://www.sap.com
publish_to: none

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  gigya_flutter_plugin:
    # When depending on this package from a real application you should use:
    #   gigya_flutter_plugin: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

  google_sign_in: ^5.2.4

dev_dependencies:
  flutter_lints: ^2.0.0

  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/
