name: gigya_flutter_plugin
description: SAP Gigya Flutter plugin
version: 1.0.7
homepage: https://github.com/SAP/gigya-flutter-plugin

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_lints: ^2.0.0

  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: com.sap.gigya_flutter_plugin
        pluginClass: GigyaFlutterPlugin
      ios:
        pluginClass: GigyaFlutterPlugin

false_secrets:
  - example/android/app/src/main/res/values/strings.xml
  - example/ios/Runner/Info.plist
